<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BID BOT</title>


	<!-- custom links  -->
		<link rel="stylesheet" href="../static/css/nav.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">

</head>
<body>
	<p class="hhhh">
		Where the world likes to shop

		<span>
			Bid Bot
		</span>
		&mdash; don't miss just bid &mdash;
	</p>

	<div class="benny">
		<div class="wrapper">
			<div class="ffuk">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="items/additem">Add Item</a></li>
					<li><a href="future.html">Future Auction</a></li>
					<li><a href="log.html">Log</a></li>
					<li><a href="myprofile.html">My Profile</a></li>
					<li><a href="logout.html">Logout</a></li>

					<!-- <li><a href="#"></a></li> -->
					
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>