<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Yourself</title>


	<!-- custom link  -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&display=swap" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left">
				<div class="right">
					<form action="/register" method="POST"> {% csrf_token %}
						<h2>BID BOT</h2>
						<input type="text" class="field" placeholder="Enter Firstame" name="fname" required>
						<input type="text" class="field" placeholder="Enter Lastname" name="lname" required>
						<input type="text" class="field" placeholder="[1-9][0-9]{9}" name="contact">
						<input type="text" class="field" placeholder="Enter Username" name="username" required>
						<input type="email" class="field" placeholder="Enter Email" name="email" required>
						<input type="password" class="field" placeholder="Enter Password" name="password1" required>
						<input type="password" class="field" placeholder="Re-Enter Password" name="password2" required>
						<input type="submit" class="btn" value="Register" name="register">
						<input type="reset" class="btn" value="reset">
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>